body{
  max-width: 1200px;
  margin: 0px;
  padding: 0px;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Farsan", serif;
}



nav{
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 20px 0px 20px 0px;
background-color: white;
}
.nav-1{
  display: flex;
}

.nav-2 ul a{
  text-decoration: none;
}
.nav-2 ul{
  display: flex;
  list-style-type: none;
  gap: 32px;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 700;


}

.nav-3 button{
 width: 150px;
 height: 50px;
 background-color: orange;
 color: white;
 border: 2px solid black;
 border-radius: 10px;
 font-size: 20px;
 font-weight: 600;
 padding: 10px;
 transition: transform .3s 0.05s;

}
.nav-3 button:hover{
  transform: scale(1.1);

}
.icon{
  display: none;
}

@media screen and (max-width:576px) {

nav{
  border-bottom: 2px solid orange;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: white;
  padding: 10px 0px 10px 0px ;
}
  .icon{
    display: flex;
    margin-top: 25px;
  }

.gone, .nav-2, .school-hide{
  display: none;
}
  
}





.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
}
.hero-1{

  /* border: 2px solid black; */
  width: 37%;
  padding: 20px;
}

.hero-2{
  /* border: 2px solid black; */
  width:40%;
  padding: 20px;
}

.hero-2 img{
  width: 100%;
}

.hero-h1{
  
  font-size: 56px;
  font-weight: 700;

  
}
.orange{
  color: orange;
}
.blue{
  color: steelblue;
}
.hero-p{
  font-size: 20px;
  text-align: justify;
}



.hero-button{
  width: 150px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid orange;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  transition: transform .3s 0.05s;
 
 }
 .hero-button:hover{
   transform: scale(1.1);
 
 }


 @media screen and (max-width:576px) {


  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    
  }


  .hero-1{
display: flex;
flex-direction: column;
    width: 90%;
    padding: 20px;
    order: 2;
    align-items: center;
    justify-content: center;
  }
  
  .hero-2{
    /* border: 2px solid black; */
    width:90%;
    padding: 20px;
  }
  
  .hero-2 img{
    width: 100%;
    order: 1;
  }
  
  .hero-h1{

text-align: center;
    
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 0px;
    
  
    
  }

  br{
    display: none;
  }
 
  /* .hero-p{
    font-size: 20px;
    text-align: center;
  }
   */
  
  
  /* .hero-button{
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid orange;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;

    transition: transform .3s 0.05s;
   
   }
   .hero-button:hover{
     transform: scale(1.1);
   
   } */
  





 }