body{
  max-width: 1200px;
  margin: 0px;
  padding: 0px;

  font-family: "Farsan", serif;
}



nav{
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 20px 0px 20px 0px;
background-color: white;
}
.nav-1{
  display: flex;
}

.nav-2 ul a{
  text-decoration: none;
}
.nav-2 ul{
  display: flex;
  list-style-type: none;
  gap: 32px;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 700;


}

.nav-3 button{
 width: 150px;
 height: 50px;
 background-color: orange;
 color: white;
 border: 2px solid black;
 border-radius: 10px;
 font-size: 20px;
 font-weight: 600;
 padding: 10px;
 transition: transform .3s 0.05s;

}
.nav-3 button:hover{
  transform: scale(1.1);

}
.icon{
  display: none;
}

@media screen and (max-width:576px) {

nav{
  border-bottom: 2px solid orange;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: white;
  padding: 10px 0px 10px 0px ;
  justify-content: space-between;
}
  .icon{
    display: flex;
    margin-top: 25px;
    margin-right: 10px;
  }

.gone, .nav-2, .school-hide{
  display: none;
}
.nav-1 img{
  margin-left: 5px;
}
  
}





.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: white;

}
.hero-1{

  /* border: 2px solid black; */
  width: 37%;
  padding: 20px;
}

.hero-2{
  /* border: 2px solid black; */
  width:40%;
  padding: 20px;
}

.hero-2 img{
  width: 100%;
}

.hero-h1{
  
  font-size: 56px;
  font-weight: 700;

  
}
.orange{
  color: orange;
}
.blue{
  color: steelblue;
}
.hero-p{
  font-size: 20px;
  text-align: justify;
}



.hero-button{
  width: 150px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid orange;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  transition: transform .3s 0.05s;
 
 }
 .hero-button:hover{
   transform: scale(1.1);
 
 }


 @media screen and (max-width:576px) {

*{overflow-x: hidden;}
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    background-color: white;
    
  }


  .hero-1{
display: flex;
flex-direction: column;
    width: 90%;
    padding: 20px;
    order: 2;
    align-items: center;
    justify-content: center;
  }
  
  .hero-2{
    /* border: 2px solid black; */
    width:90%;
    padding: 20px;
  }
  
  .hero-2 img{
    width: 100%;
    order: 1;
  }
  
  .hero-h1{

text-align: center;

    
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
    padding: 20px;
    
  
    
  }

  br{
    display: none;
  }
 
 
  .hero-button{
    width: 120px;
    height: 45px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid orange;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    transition: transform .3s 0.05s;
   
   }

   .hero-p{
    font-size: 14px;
    text-align: justify;
    
  }

 }


 /* ------------------------- */

.routine{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 700;
  
}
 .curriculum{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  

 }

 .curriculum1, .curriculum2, .curriculum3{
  display: flex;
  align-items: center ;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 20%;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px;
transition: transform .4s ;

 
 }






 .curriculum1:hover{
  transform: scale(1.1) ;
  background-color: red;
 }
 .curriculum2:hover{
  transform: scale(1.1) ;
  background-color: rgb(221, 255, 0);
 }
 .curriculum3:hover{
  transform: scale(1.1) ;
  background-color: rgb(0, 157, 255);
 }
 

 .curriculum1{
  background: linear-gradient(to bottom,rgba(255, 55, 0, 0.789), rgb(255, 255, 255));

 }


.curriculum2{
  background: linear-gradient(to bottom,rgba(224, 226, 107, 0.789), rgb(255, 255, 255));

}
 .curriculum3{
  background: linear-gradient(to bottom,rgba(0, 195, 255, 0.789), rgb(255, 255, 255));

 }
.next{
  display: flex;
  justify-content: center;
  gap: 20px;

  
}


.p2,.p1{
  border-radius: 50%;
  background-color: orange;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 20px;
  margin-top: 80px;
  /* margin-bottom: 60px; */
  font-weight: bold;
  color: white;
}

.color-minus{

  background:
              url('./assets/bg.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}


@media screen and (max-width:576px) {



    .routines h1{
      display: flex;
      align-items:center ;
      justify-content: center;
      text-align: center;
      font-size: 250%;
    }

   .curriculum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
  
   }
  
   .curriculum1, .curriculum2, .curriculum3{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
  transition: transform .4s ;
   
   }

   .curriculum1{
    margin-top: 30px;
   }
   .curriculum3{
    margin-bottom: 30px;
  
   }
  
  
  
  .p2,.p1{
    display: none;
  }

.color-minus {
  background:
  url('./assets/bg.png');
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;

 
  }

  
}

.last-head{
display: flex;
text-align: justify;
justify-content: center;
font-size: 46px;
font-weight: 700;
margin-bottom: 0;
}





.story-container h3{
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.story-container button{
  width: 60%;
  height: 35px;
margin-left: 30px;
border-radius: 10px;
border: 2px solid black;
position: relative;
top: -19px;
background-color: rgb(149, 178, 38);
margin-bottom: 0;
  
}

.story-container .one button{
background-color: steelblue;
height: 40px;

top: -23px;
}


/* story container part */

.story-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 100px;
  padding-right: 100px;

}
 .one, .two, .three, .four, .five, .ek{
  background-color: white;
border-radius: 10px;
  margin-bottom: 0;
  
  justify-content: center;
  align-items: center;
}
.one p{
  padding: 20px;
  text-align: left;
}



.story-container img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 10px 0 0px;
  padding: 0;


}
.two-two{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}


.story-container h3{
padding: 20px;
text-align: left;
}






#last-button{
  width: 120px;
  height: 45px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid orange;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  
  justify-content: center;

  margin-left: 45%;
margin-right: 45%;
margin-top: 50px;
margin-bottom: 50px;
transition: transform .3s 0.05s;




margin-left: 37.5%;
margin-right: 37.5%;
margin-top: 50px;
margin-bottom: 50px;


padding: 0 0px 0 0px;

width: 25%;
height: 45px;
 }

 #last-button:hover{
  transform: scale(1.1);

}




.color{
  background:
  url('./assets/bg.png'),
  linear-gradient(to top, rgba(255, 166, 0, 0.404), rgb(255, 255, 255))
             ;
              background-repeat: no-repeat;
background-size: cover;
background-position: center;
}





.six, .ek{
  display: none;
}



@media screen and (max-width:576px) {
  .six, .ek{
    display: block;
  }
.one{display: none;}
  .story-container{
   


    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    padding: 10px;
    
  
  }

.lb{
  max-width: 100%;
  max-height: 100%;

}



  #last-button{

    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 50px;
    margin-bottom: 50px;
font-size: 10px;
font-weight: 700;
padding: 0 0px 0 0px;

    width: 25%;
    height: 30px;

   }






   .story-container button{
    width: 60%;
    height: 35px;
  margin-left: 30px;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
  top: -19px;
  background-color: rgb(149, 178, 38);
  margin-bottom: 0;
    
  }
  
  .story-container h3{
    padding: 20px;
    text-align: left;
    font-size: 20px;
    margin-top: 0;
    }

    .color,.story-container main {
      background:
      url('./assets/bg.png'),
      linear-gradient(to top, rgba(255, 166, 0, 0.382), rgb(255, 255, 255));
      background-repeat: no-repeat;
      background-size: 100% 100%;
      


    }



  

}





.footer1 {
margin: 0;
display: flex;
flex-direction: column;
text-align: left;
color: white;
}

.footer1 h3{
  font-size: 26px;
  width: 700;
  text-align: left;
}
.last-logo{
  display: flex;
  gap: 10px;
  text-align: left;
}


.last-logo img{
width: 82px;
height: 81px;
}

.footer2{
  display: flex; flex-direction: column; 
align-items: center;
  justify-content: left;
  color: white;


}

.footer2 a{
text-decoration: none;
color: white;

}
.footer2 h3 {
  font-size: 26px;
  width: 700;
  text-align: left;


}
.footer2 ul{
  padding: 0;
}

.footer3{
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  color: white;
}
.footer3 h3{
  font-size: 26px;
  width: 700;
  text-align: left;
}

.last-list{


  margin: 0;



list-style: none; display: flex; align-items: start; flex-direction: column; gap: 20px;
justify-content: start;
}


.last{
 
background-color: rgb(1, 172, 253);
}

.last{
  padding: 100px;

  display: grid; 
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
}


@media screen and (max-width:576px) {
  
.last{
  display: grid;
  grid-template-columns  : repeat(1,1fr);
  align-items: start;
  justify-content: start;
  margin: 0;
  padding: 20px;
}

.footer2{
  display: flex; flex-direction: column; 
align-items: start;
  justify-content: left;
  color: white;


}

.footer2 a{
text-decoration: none;
color: white;
margin: 0;
padding: 0;
align-items: start;
justify-content: left;

}
.footer2 h3 {
  font-size: 26px;
  width: 700;
  text-align: left;
padding-left: 0px;

}



.last-list{


  margin: 0;



list-style: none; display: flex; align-items: start; flex-direction: column; gap: 20px;
justify-content: start;
}

ul{
  padding: 0;
}


.footer3{
display: flex;
align-items: start;
}



}